doc/xvasil03-Event-notifications-OpenIO-Swift-Minio.*
!xvasil03-Event-notifications-OpenIO-Swift-Minio-.*
!xvasil03-Event-notifications-OpenIO-Swift-Minio.tex
!xvasil03-Event-notifications-OpenIO-Swift-Minio.pdf
